.sfondotesta {
    background-image: url("./img/pattern.png");
    background-color: rgba(10, 79, 176, 0.842);
    background-size: 200px;
}

.main {
    width: 80px;
    margin-top: 10px;
}

#imglogo {
    margin-top: 50px;
    margin-left: 5px;
    width: 100px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    text-size-adjust: small;
    padding: 3px;
  }
  
  
