.sfondotesta {
    background-image: url("./img/pattern.png");
    background-color: rgba(10, 79, 176, 0.842);
    background-size: 200px;
}

.sottotitoli {

    padding-top: 1px;
    padding-bottom: 16px;
}

#booleaner {
    color: blue;
}

.main {
    width: 80px;
    margin-top: 10px;
}

#imglogo {
    margin-top: 50px;
    margin-left: 5px;
    width: 100px;
}

.lista {
    margin-top: 40px;
    margin-bottom: 40px;
}

#tablestyle {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin-bottom: 40px;
}


#tablestyle td,
#tablestyle th {


    padding: 16px;
}

#tablestyle tr:nth-child(even) {
    background-color: rgb(98, 192, 239);

}

#tablestyle th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #4a89e7;
    color: white;
    ]
}

.adv {
    margin-top: 100px;
}